<%- include("../partials/header")%>

<form action="/user/<%=profiles._id%>/update/?_method=PUT" method="POST">
	<div class="container form">
		<h1 id="center">Hello, <%=currentUser.username%>.  Edit Your Profile!</h1>
		<div class="spacing">
			<input class="form-control" type="input" name="image" value="<%=profiles.image%>">
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="biography" value="<%=profiles.biography%>">
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="backgroundImage" value="<%=profiles.backgroundImage%>">
		</div>
		<%var value0;%>
		<%if(profiles.other == ""){%>
			<%value0 = "facebook link";%>
		<%} else {%>
			<%value0 = profiles.facebook;%>
		<%}%>
		<div class="spacing">
			<input class="form-control" type="input" name="facebook" value="<%=value0%>">
		</div>
		<%var value1;%>
		<%if(profiles.other == ""){%>
			<%value1 = "instagram link";%>
		<%} else {%>
			<%value1 = profiles.instagram;%>
		<%}%>
		<div class="spacing">
			<input class="form-control" type="input" name="instagram" value="<%=value1%>">
		</div>
		<%var value2;%>
		<%if(profiles.other == ""){%>
			<%value2 = "other link";%>
		<%} else {%>
			<%value2 = profiles.other;%>
		<%}%>
		<div class="spacing">
			<input class="form-control" type="input" name="other" value="<%=value2%>">
		</div>
		
		<button class="btn btn-success">Submit!</button>
		<button class="btn btn-info"><a href="/user">Go Back</a></button>
	</div>

<%- include("../partials/footer")%>