<%- include("../partials/header") %>

<!-- display items -->
<section id="display-items" class="display-items-container container-fluid">
	<%- include("../partials/menu") %>

    <div class="body-container-items-forms container">
        <%- include("../partials/navigation") %>

        <div class="items-container">
            <%profiles.forEach((profile) => { %>
                <div>
					<div class="category-container"></div>

					<div class="image-container">
						<figure class="background-image-relative">
							<img src="<%=profile.backgroundImage%>" />
						</figure>

						<figure class="background-image-absolute">
							<img src="<%=profile.image%>" />
						</figure>

						<% if (currentUser && profile.author.id.equals(currentUser._id)) {%>
							<div>
								<a href="../user/<%=profile._id%>/edit">
									<figure>
										<img src="/images/edit-icon.png" alt="Edit Icon" />
									</figure>
								</a>
								<a href="../user/<%=profile._id%>/delete">
									<figure>
										<img src="/images/trash-icon.png" alt="Trash Icon" />
									</figure>
								</a>
							</div>
						<% } %>
					</div>
                    
                    <div class="container profiles-container">
                        <div>
                            <h2><span><%=profile.author.username%></span></h2>
                        </div>
                        <h3>Lives in <%=profile.author.city%></h3>
                        <p>"<%=profile.biography%>"</p>
                    </div>

                    <a href="../user/<%=profile._id%>" class="view-more-btn">Visit Profile</a>
                </div>
            <% }); %>
        </div>
    </div>
</section>