<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<section id="profile-page" class="container-fluid">
	<% if (profiles.backgroundImage) { %>
		<div style="background-image: url('<%=profiles.backgroundImage%>')"></div>
	<% } %>

	<div class="container">
		<figure>
			<img src="<%=profiles.image%>" />
		</figure>
	
		<div>
			<h1><%=profiles.author.username%></h1>
			<p><%=profiles.biography%></p>
	
			<hr />
	
			<% if(!(profiles.facebook == "other link")) {%>
				<a href="<%=profiles.facebook%>">Facebook</a>
			<% } %>
			<% if(!(profiles.instagram == "other link")) {%>
				<a href="<%=profiles.instagram%>">Instagram</a>
			<% } %>
			<% if(!(profiles.other == "other link")) { %>
				<a href="<%=profiles.other%>">Other</a>
			<% } %>
		</div>
	</div>
</section>