<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<section id="profile-page">
	<% if (profiles.backgroundImage) { %>
		<div style="background-image: url('<%=profiles.backgroundImage%>')"></div>
	<% } %>

	<div class="container">
		<figure>
			<img src="<%=profiles.image%>" />
		</figure>
	
		<div>
			<h1>Introducing <span><%=profiles.author.username%></span></h1>
			<p><%=profiles.biography%></p>
	
			<hr />
	
			<% if (profiles.facebook || profiles.instagram || profiles.other) { %>
			<div>
				<% if(profiles.facebook) {%>
					<a href="<%=profiles.facebook%>">
						<img src="/images/facebook-icon.png" />
					</a>
				<% } %>
				<% if(profiles.instagram) {%>
					<a href="<%=profiles.instagram%>">
						<img src="/images/instagram-icon.png" />
					</a>
				<% } %>
				<% if(profiles.other) { %>
					<a href="<%=profiles.other%>">
						<img src="/images/link-icon.png" />
					</a>
				<% } %>
			</div>
			<% } %>
		</div>
	</div>
</section>