<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<section id="profile-page">
	<% if (profiles.backgroundImage) { %>
		<div style="background-image: url('<%=profiles.backgroundImage%>')"></div>
	<% } %>

	<div class="container">
		<figure>
			<img src="<%=profiles.image%>" />
		</figure>
	
		<div>
			<h1><%=profiles.author.username%></h1>
			<p><%=profiles.biography%></p>
	
			<hr />
	
			<% if (profiles.facebook || profiles.instagram || profiles.other) { %>
			<div>
				<% if(profiles.facebook) {%>
					<a href="<%=profiles.facebook%>">
						<img src="/images/facebook.icon.png" />
					</a>
				<% } %>
				<% if(profiles.instagram) {%>
					<a href="<%=profiles.instagram%>">
						<img src="/images/instagram.icon.png" />
					</a>
				<% } %>
				<% if(profiles.other) { %>
					<a href="<%=profiles.other%>">
						<img src="/images/link.icon.png" />
					</a>
				<% } %>
			</div>
			<% } %>
		</div>

		<% if (typeof items !== 'undefined') { %>
			<% items.forEach((item) => { %>
				<% if (item.author.id.toString() === profiles.author.id.toString()) { %>
					<div class="item">
						<figure>
							<img src="<%=item.image%>" />
						</figure>
						<h3 style="color: #000;"><%=item.name%></h3>
						<p style="color: #000;"><%=item.description%></p>
					</div>
				<% } %>
			<% }); %>
		<% } %>
	</div>
</section>