<%- include("../partials/header") %>

<!-- display items -->
<section id="display-items" class="display-items-container container-fluid">
	<%- include("../partials/menu") %>

    <div class="body-container-items-forms container">
        <% if (items.length !== 0) { %>
            <article>
                <a href="/items/new">Create a New Item</a>
                <a href="/user">Go to Profiles Page</a>
                <a href="/items/all">View all Items</a>
                <% if (currentUser.city) { %>
                    <a href="/items/city">View Items in <%=currentUser.city%></a>
                <% } %>
                <a href="/">Home</a>
            </article>
        <% } %>

        <div class="items-container">
            <% items.forEach((item) => { %>
                <div>
                    <div class="category-container">
                        <h1><span>Category</span></h1>
                    </div>
    
                    <% if (item.image) { %>
                        <div class="image-container">
                            <figure>
                                <img src="<%=item.image%>" />
                            </figure>
    
                            <% if (currentUser && item.author.id.equals(currentUser._id)) {%>
                                <div>
                                    <a href="../items/<%=item._id%>/edit">
                                        <figure>
                                            <img src="/images/edit-icon.png" alt="Edit Icon" />
                                        </figure>
                                    </a>
                                    <a href="../items/<%=item._id%>/delete">
                                        <figure>
                                            <img src="/images/trash-icon.png" alt="Trash Icon" />
                                        </figure>
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                    
                    <div class="container">
                        <div>
                            <h2><span><%=item.name%></span></h2>
                            <span class="price">$<%=item.price%></span>
                        </div>
                        <h3><%=item.condition%></h3>
                        <p>"<%=item.description%>" - <%=item.author.username%></p>
                        <hr />
                        <h4>Item available in <span><%=item.author.city%></span></h4>
                    </div>

                    <a href="../items/<%=item._id%>" class="view-more-btn">View More</a>
                </div>
            <% }); %>
        </div>
    </div>
</section>