<%- include("../partials/header") %>

<!-- display items -->
<section id="display-items" class="display-items-container container-fluid">
	<%- include("../partials/menu") %>

    <div class="display-items-container-div container">
        <% items.forEach((item) => { %>
            <div>
                <div class="category-container">
                    <h1><span>Category</span></h1>
                </div>

                <% if (item.image) { %>
                    <figure>
                        <img src="<%=item.image%>" />
                    </figure>
                <% } %>
                
                <div class="container">
                    <div>
                        <h2><span><%=item.name%></span></h2>
                        <span class="price">$<%=item.price%></span>
                    </div>
					<h3><%=item.description%></h3>
					<p>"<%=item.condition%>" - <%=item.author.username%></p>
					<hr />
                    <h4>Item available in <span><%=item.author.city%></span></h4>
                </div>
            </div>
        <% }); %>
    </div>
</section>


