<%- include("../partials/header") %>
<div class="menu">
	<ul class="list-group">
		<li class="list-group-item"><p>Welcome, <%=currentUser.username%></p></li>
  		<li class="list-group-item"><p><a href="/items/new">Create a New Item</a></p></li>
		<li class="list-group-item"><p><a href="/user">Go to Profiles Page</a></p></li>
		<li class="list-group-item"><p><a href="/items">View Items From <%=currentUser.city%></a></p></li>
 		<li class="list-group-item"><p><a href="back">Go Back</a></p></li>
	</ul>
</div>
<div class="container">
	<div class="row text-center">
		<div class="col-md-9">
			<%items.forEach((item) => { %>
				<div class="center">
					<div class="box">
						<%if(!item.image){%>
						<div class="caption-full">
						<h4 class="pull-right">$<%=item.price%></h4>
							<div class="align left">
								<h4><a><%=item.name%></a></h4>
								<h5>Created by <strong><%=item.author.username%></strong></h5>
								<h5>Located in <strong><%=item.author.city%></strong></h5>
								<p>Condition is <%=item.condition%></p>
								<p><%=item.description%></p>
									<div class="btn-group btn-group-justified" role="group">
										<%if(currentUser && item.author.id.equals(currentUser._id)){%>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-sm btn-info btn-default"><a 																	href="items/<%=item._id%>"><h6 id="white">View More</h6></a></button>
											</div>
  										<div class="btn-group" role="group">
											<button type="button" class="btn btn-sm btn-success btn-default"><a 																href="items/<%=item._id%>/edit"><h6 id="white">Edit</h6></a></button>
  										</div>
  										<div class="btn-group" role="group">
											<button type="button" class="btn btn-sm btn-danger btn-default"><a 																	href="items/<%=item._id%>/delete"><h6 id="white">Delete</h6></a></button>
  										</div>
										<%} else {%>
										<div>
											<button type="button" class="btn btn-sm btn-info btn-default"><a 																	href="../items/<%=item._id%>"><h6 id="white">View More</h6></a></button>
										</div>
										<%}%>
									</div>
								<button class="btn btn-md btn-primary btn-block"><a href="/items/<%=item._id%>/comments/new"><h6 id="white">Message</h6></a></button>
						</div>
						<%} else {%>
						<img class="img-responsive containment large" src="<%=item.image%>"/>
							<div class="caption-full">
							<h4 class="pull-right">$<%=item.price%></h4>
							<div class="align left">
								<h4><a><%=item.name%></a></h4>
								<h5>Created by <strong><%=item.author.username%></strong></h5>
								<h5>Located in <strong><%=item.author.city%></strong></h5>
								<p>Condition is <%=item.condition%></p>
								<p><%=item.description%></p>
									<div class="btn-group btn-group-justified" role="group">
										<%if(currentUser && item.author.id.equals(currentUser._id)){%>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-sm btn-info btn-default"><a 																	href="items/<%=item._id%>"><h6 id="white">View More</h6></a></button>
											</div>
  										<div class="btn-group" role="group">
											<button type="button" class="btn btn-sm btn-success btn-default"><a 																href="items/<%=item._id%>/edit"><h6 id="white">Edit</h6></a></button>
  										</div>
  										<div class="btn-group" role="group">
											<button type="button" class="btn btn-sm btn-danger btn-default"><a 																	href="items/<%=item._id%>/delete"><h6 id="white">Delete</h6></a></button>
  										</div>
										<%} else {%>
										<div>
											<button type="button" class="btn btn-sm btn-info btn-default"><a 																	href="../items/<%=item._id%>"><h6 id="white">View More</h6></a></button>
										</div>
										<%}%>
						<%}%>
					</div>
								<button class="btn btn-md btn-primary btn-block"><a href="/items/<%=item._id%>/comments/new"><h6 id="white">Message</h6></a></button>
							</div>
						</div>
						<br><br><br>
						<hr>
					</div>
				</div>
				<%});%>
			</div>
		</div>
</div>