<%- include("../partials/header") %>

<!-- display items -->
<section id="display-items" class="display-items-container show-item container-fluid">
	<%- include("../partials/menu") %>

    <div class="body-container-items-forms container">
        <%- include("../partials/navigation") %>

		<div class="items-container">
			<div>
				<div class="category-container"></div>

				<% if (items.image) { %>
					<div class="image-container">
						<figure>
							<img src="<%=items.image%>" />
						</figure>

						<% if (currentUser && items.author.id.equals(currentUser._id)) {%>
							<div>
								<a href="../items/<%=items._id%>/edit">
									<figure>
										<img src="/images/edit-icon.png" alt="Edit Icon" />
									</figure>
								</a>
								<a href="../items/<%=items._id%>/delete">
									<figure>
										<img src="/images/trash-icon.png" alt="Trash Icon" />
									</figure>
								</a>
							</div>
						<% } %>
					</div>
				<% } %>
				
				<div class="container">
					<div>
						<h2><%=items.name%></h2>
						<span class="price">$<%=items.price%></span>
					</div>
					<h3><%=items.condition%></h3>
					<p>"<%=items.description%>"</p>

					<div class="created-by-div">
						<p>Created by:</p>
						<a href="/user/<%=items.profile.id%>">
							<figure>
								<img src="<%=items.profile.image%>" />
							</figure>
							<h5><%=items.author.username%></h5>
						</a>
					</div>

					<hr />
					<h4>Item available in&nbsp;<span><%=items.author.city%></span></h4>
				</div>
			</div>
        </div>

		<% if (items.comments.length !== 0) { %>
			<div class="comments-container container">
				<h1>Comments</h1>
				<hr />

				<div class="comments-container-div">
					<%items.comments.forEach((comment) => {%>
						<% if (items.author.id.toString() === comment.author.id.toString()) { %> 
							<div class="author-created-comment">
						<% } else { %>
							<div>
						<% } %>
								<p><%= comment.text %></p>
								<a href="/user/<%=comment.author.profileId%>">
									<div>
										<figure>
											<img src="<%=comment.author.profileImage%>" />
										</figure>
										<h2><%= comment.author.username %></h2>
									</div>
								</a>
						
								<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
									<div class="comments-edit-delete">
										<a href="../comments/<%=comment._id%>/edit">Edit
										</a>
										<a href="../comments/<%=comment._id%>/delete">Delete
										</a>
									</div>
								<%}%>
							</div>
					<%});%>
				</div>
			</div>
		<% } %>

		<% if (profileExists) { %>
			<a href="/items/<%=items._id%>/comments/new" class="comment-link">Leave a Comment</a>
		<% } else { %>
			<h1 class="comment-link"><a href="/user/new">Create your profile</a> in order to leave a comment</h1>
		<% } %>
	</div>
</section>